<!-- Module for search material -->
<mat-card class="ingredientModule">
  <mat-card style="margin: 5px">

    <!-- search bar -->
    <mat-form-field style="margin-top: -3px;margin-bottom: -20px; width: 21%; margin-left: 1%;">
      <input
        matInput
        type="text"
        placeholder="Search Ingredients"
        [(ngModel)]="searchValue"
      />
      <button
        mat-button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClearSearchValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Search For Ingredient"
        (click)="onSearchIngredient(searchValue)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <!-- select meal type -->
    <mat-form-field style="margin-top: -3px;margin-bottom: -20px;margin-left: 2.5%;width: 15%;">
      <mat-select [(ngModel)]="selectedMealType" placeholder="Select Meal Type">
        <mat-option *ngFor="let mealType of mealTypes" [value]="mealType">
          {{mealType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- prep time slider -->
    <mat-card-content style="display: inline-block; font-size: 16px; width: 20%; margin-left: 2%; margin-bottom: -4px;">
      Max Prep Time:
      <mat-slider min="5" max="300" step="5" thumbLabel [(value)]="maxPrepTime" style="width: 51%; margin-left: 2%;"> </mat-slider>
    </mat-card-content>

    <mat-card style="margin-left: 1%; width: 17%; display: inline-block; align-content: center;">
      <mat-checkbox (click)="onSelectedIngredients()"></mat-checkbox>
      Show Selected Ingredients
    </mat-card>

    <!-- search for recipe button -->
    <button mat-raised-button (click)="onRecipeSearch()" style="COLOR: BLACK; BACKGROUND-COLOR: SKYBLUE; FONT-SIZE: 22px; margin-left: 2%;width: 16.5%;">
      Find My Recipe!
      <mat-icon>fastfood</mat-icon>
    </button>
  </mat-card>

  <!-- listed ingredients box -->
  <div class="ingredientList">
    <mat-grid-list cols="8" rowHeight="4:1">
      <mat-grid-tile *ngFor="let ingredient of cloneIngredients">
        <mat-card class="ingredient">
          <mat-checkbox [(ngModel)]="ingredient.selected"> </mat-checkbox>
          {{ ingredient.name }}
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>

<!-- Module for search results -->
<mat-card style="margin: 10px 10px; min-height: 63%;">

  <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile *ngFor="let recipeResult of recipeResults">
        <mat-card class="recipeResults" (click)="openDialog(recipeResult)">
          <h5 style="font-size: 17px;font-weight: 500;margin-bottom: 16px !important;margin: 5px;">
            {{ recipeResult.recipeName }}
          </h5>
          <footer style="text-align: end;">
            Prep Time: {{ recipeResult.prepTime }} minutes
          </footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>